.container {
  transition: transform 0.3s ease-in-out;
}

.sticky {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transform: translate3d(0, 0, 0);
  will-change: transform;
}

.navBar {
  padding-top: 10px;
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(34, 85, 121);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo img {
  width: 200px;
  height: 100px;
  border-radius: 50px;
}

.menu {
  display: flex;
  gap: 100px;
  justify-content: space-between;
  font-weight: 800;
  font-size: 25px;
  transition: font-size 0.3s;
}

.menuLink {
  color: rgb(34, 85, 121);
}

.menuLink:hover {
  color: rgb(246, 138, 51);
}

.title {
  padding-left: 150px;
  padding-top: 120px;
  color: #fff;
}

.title .name {
  font-size: 130px;
}

.title .slogan {
  font-size: 65px;
}

.title button {
  padding: 16px;
  border-radius: 50px;
  border: none;
  background-color: #ffb803;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}

.thumbnail {
  position: relative;
  height: 850px;
}

.fadeContainer {
  position: relative;
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: background 0.5s ease-in-out;
  overflow: hidden;
}

.thumbnail img {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  width: 100%;
  height: 100%;
}

.thumbnail img.visible {
  opacity: 1;
}

.owlDotContainer {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.owlDot {
  color: #928c8c;
  background: none;
  border: none;
  margin: 0 5px;
  display: inline-block;
  cursor: pointer;
}

.activeDot {
  transform: scale(1.2);
  color: rgb(34, 85, 121);
}
